@import '../../node_modules/normalize.css/normalize.css';

body {
  /* margin: 0px; */
  font-family: sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;

  width: 100%;
  max-width: 100ch;
  margin: 0 auto;
  p {
    width: 100%;
  }
}
